/***************************************************
 * Visuals
 ***************************************************/

body {
  color: #333;
  background-color: #e6e6e6;
}


/**************************************************
 * Utilities
 **************************************************/

.page-title {
  font-size: 3em;
  font-weight: bold;
  line-height: 1em;
  margin-bottom: 0.3em;
  margin-right: 0.3em;
}

.delete-link, .delete-link:visited {
  color: red;
}


.quiet a {
  color: #666;
}

.alt {
  font-style: italic;
}

.form {
  background-color: #f3f3f3;
  padding: 0.5em;
}


/***************************************************
 * Sections
 ***************************************************/

#sidebar {
  margin-top: 5em;
}

#content {
  background-color: white;
  padding: 2em;
}

#header {
  background-color: white;
}

#footer {
  background-color: white;
}

#page-title {
  margin-bottom: 3em;
}

.list-description {
  margin-top: 1em;
}

/***************************************************
 * Lists
 ***************************************************/


.list {
  margin-bottom: 2em;
  padding: 0.5em;
}

.list .list-title {
  font-size: 1.5em;
  line-height: 1em;
  margin-bottom: 0.3em;
  color: #111;
  font-weight: bold;
}

.list ul {
  list-style-type: none;
}

.list .left ul {
  margin: 0.8em 1.5em 1.5em 0.5em;
}

.list .done ul {
  margin: 0.4em 1.5em 1.5em 0.5em;
}

.list ul li {
  line-height: 2.5em;
}

.list .left {
  padding-left: 0.5em;
}

.list .done {
  padding-left: 0.8em;
}

#new-list-form {
  margin-top: 2em;
  margin-bottom: 2em;
}

.left-count {
  font-weight: bold;
  margin-left: 1.5em;
  margin-bottom: 1em;
}

#list-summary {
  margin-top: 3em;
  margin-bottom: 2em;
}


/***************************************************
 * Todos
 ***************************************************/

.todo .mine {
  background-color: #ffc;
  font-weight: bold;
}

.todo .overdue, .todo .due-today {
  line-height: 1.5em;
  padding: 1px 4px;
  color: #111;
}

.todo .overdue {
  background-color: #ffa240;
  font-weight: bold;
}

.todo .due-today {
  background-color: #fff273;
}

.done-count {
  margin-left: 0.5em;
}


/***************************************************
 * Todo forms
 ***************************************************/

.new-todo-form {
  margin-top: 1em;
  margin-bottom: 1em;
  padding-left: 1.2em;
}

.edit-todo-form {
  display: none;
  margin-left: 0.5em;
}

.toggle-todo-form {
  display: inline;
}


/***************************************************
 * Hover controls for todos
 ***************************************************/

.todo-controls-done, .todo-controls-left {
  display: none;
  background-color: white;
  position: absolute;
  padding-right: 1em;
}

.todo-controls-done a, .todo-controls-left a {
  cursor: pointer;
  padding: 4px;
}

.todo-controls-left {
  margin-left: -7em;
}

.todo-controls-done {
  margin-left: -2em;
}


/***************************************************
 * Buttons
 ***************************************************/

#create-list-btn {
  border: solid 1px black;
  cursor: pointer;
  padding: 0.3em;
  text-align: center;
  width: 50%;
  background-color: cyan;
}
