/***************************************************
 * Visuals
 ***************************************************/

body {
  color: #333;
  background-color: #e6e6e6;
}


/**************************************************
 * Utilities
 **************************************************/

#back-link {
  float: right;
}

.overdue, .due-today {
  line-height: 1.5em;
  padding: 1px 4px;
  color: #111;
}

.overdue {
  background-color: #ffa240;
  font-weight: bold;
}

.due-today {
  background-color: #fff273;
}

.title {
  font-size: 1.5em;
  line-height: 1em;
  margin-bottom: 0.3em;
  color: #111;
  font-weight: bold;
}

.clear {
  clear: both;
}

.page-title {
  font-size: 3em;
  font-weight: bold;
  line-height: 1em;
  margin-bottom: 0.3em;
  margin-right: 0.3em;
}

.delete-link {
  margin-top: 4em;
}

.delete-link a, .delete-link a:visited {
  color: red;
}


.quiet a {
  color: #666;
}

.alt {
  font-style: italic;
}

.form {
  background-color: #f3f3f3;
  padding: 0.5em;
  padding-top: 1em;
  padding-left: 1.2em;
}

.form h3 {
  font-weight: bold;
}


/***************************************************
 * Sections
 ***************************************************/

#sidebar {
  margin-top: 5em;
}

#app-title a, #app-title a:visited {
  color: #e6e6e6;
  text-decoration: none;
  padding-right: 0.5em;
}

#content {
  background-color: white;
  padding: 2em;
}

#breadcrumbs {
  padding: 0 1em;
}

#header {
  background-color: #104f80;
  padding-top: 1em;
  padding-bottom: 1em;
  color: #e6e6e6;
}

#admin-links {
  float: right;
}

#admin-links a, #admin-links a {
  color: #e6e6e6;
}

#header h3 {
  color: #e6e6e6;
  margin-bottom: 0;
}

#footer {
  background-color: white;
}

#page-title {
  margin-bottom: 3em;
}

/***************************************************
 * Lists
 ***************************************************/


.list {
  margin-bottom: 2em;
  padding: 0.5em;
}

.list ul {
  list-style-type: none;
}

.list .left ul {
  margin: 0.8em 1.5em 1.5em 0.5em;
}

.list .done ul {
  margin: 0.4em 1.5em 1.5em 0.5em;
}

.list ul li {
  line-height: 2.5em;
}

.list .left {
  padding-left: 0.5em;
}

.list .done {
  padding-left: 0.8em;
  margin-bottom: 2em;
}

#new-list-form {
  margin-top: 2em;
  margin-bottom: 2em;
}

.left-count {
  font-weight: bold;
  margin-left: 1.5em;
  margin-bottom: 1em;
}

#list-summary {
  margin-top: 3em;
  margin-bottom: 1em;
}


/***************************************************
 * Todos
 ***************************************************/

.todo .mine {
  background-color: #ffc;
  font-weight: bold;
}

.done-count {
  margin-left: 0.5em;
}

/***************************************************
 * Projects
 ***************************************************/

.project {
  margin-bottom: 3em;
  padding: 0.5em;
}

.todos-summary {
  margin-top: 1em;
  line-height: 1.5em;
  padding-left: 1em;
}

.todos-summary ul {
  margin-top: 1em;
  margin-bottom: 0;
}

#new-project-form {
  margin-bottom: 2em;
}


/***************************************************
 * Todo forms
 ***************************************************/

.new-todo-form {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 1.5em;
}

.edit-todo-form {
  display: none;
  margin-left: 0.5em;
}

.new-todo-form .actions, .edit-todo-form .actions {
  float: right;
}

.toggle-todo-form {
  display: inline;
}


/***************************************************
 * Hover controls for todos
 ***************************************************/

.todo-controls-done, .todo-controls-left {
  display: none;
  background-color: white;
  position: absolute;
  padding-right: 1em;
}

.todo-controls-done a, .todo-controls-left a {
  cursor: pointer;
  padding: 4px;
}

.todo-controls-left {
  margin-left: -7em;
}

.todo-controls-done {
  margin-left: -2em;
}


/***************************************************
 * Buttons and links
 ***************************************************/

#create-list-btn, #create-project-btn {
  border: solid 1px black;
  cursor: pointer;
  padding: 0.3em;
  text-align: center;
  width: 50%;
  background-color: #a4c6e0;
  font-weight: bold;
}

#show-all-link {
  font-weight: bold;
  display: none;
}

#show-all-link a {
  background-color: #104f80;
  padding: 0.5em;
  color: #e6e6e6;
}

#show-all-link, #show-mine-link {
  margin-top: 2em;
}

/***************************************************
 * Notifications
 ***************************************************/

#todo-notifications {
  margin-bottom: 3em;
}

#todo-notifications ul {
  margin-top: 1em;
  margin-bottom: 0;
  line-height: 2.5em;
}

#overdue-notifications .big-notice, #due-today-notifications .bit-notice {
  border: solid 2px;
}

#overdue-notifications .big-notice,
#due-today-notifications .big-notice {
  padding: 1em;
}

#overdue-notifications .small-notice,
#due-today-notifications .small-notice {
  padding-left: 1em;
  padding-right: 1em;
}

#overdue-notifications .big-notice {
  border-color: #ffcc96;
  background-color: #ffe3c5;
}

#overdue-notifications {
  margin-bottom: 1em;
}

#due-today-notifications .big-notice {
  border-color: #fff273;
  background-color: #fffbd5;
}

.minimize, .maximize {
  font-weight: bold;
  float: right;
  cursor: pointer;
}

#overdue-notifications .maximize {
  background-color: #ffe3c5;
}

#due-today-notifications .maximize {
  background-color: #fffbd5;
}

.small-notice {
  display: none;
}
