/***************************************************
 * Visuals
 ***************************************************/

body {
  color: #333;
  background-color: #e6e6e6;
}


/**************************************************
 * Utilities
 **************************************************/

.quiet a {
  color: #666;
}


/***************************************************
 * Sections
 ***************************************************/

#sidebar {
}

#content {
  background-color: white;
  padding: 0.5em;
}

#header {
  background-color: white;
}

#footer {
  background-color: white;
}

/***************************************************
 * Lists
 ***************************************************/

#lists {
  margin-top: 3.5em;
}

.list {
  margin-bottom: 3.5em;
}

.list .title {
  font-size: 1.5em;
  line-height: 1em;
  margin-bottom: 0.3em;
  color: #111;
  font-weight: bold;
}

.list ul {
  list-style-type: none;
}

.list .left ul {
  margin: 0.8em 1.5em 1.5em 0.5em;
}

.list .done ul {
  margin: 0.4em 1.5em 1.5em 0.5em;
}

.list ul li {
  line-height: 2.5em;
}

.list .left {
  padding-left: 0.5em;
}

.list .done {
  padding-left: 0.8em;
}

.list-utils {
  float: right;
}


/***************************************************
 * Todos
 ***************************************************/

.todo .mine {
  background-color: #ffc;
  font-weight: bold;
}

.todo .overdue {
  font-weight: bold;
  color: #111;
  background-color: #ffa240;
  line-height: 1.5em;
  padding: 2px 4px;
}

.todo .due-today {
  color: #111;
  background-color: #fff273;
  line-height: 1.5em;
  padding: 2px 4px;
}
