%span.quiet.small Todos for
%br/
%span.project-title= @project.name
%span.alt= @project.description

#lists
  :javascript
    $(function() {
      var toggleSection = function(link, target, show_text, hide_text) {
        target.toggle();
        if (target.css("display") == "none")
          $(link).text(show_text);
        else
          $(link).text(hide_text);
      };

      $(".list .toggle-done").click(function() {
        toggleSection(this, $(this).next("ul"), "Show", "Hide");
      });

      $(".list .add-todo").click(function() {
        toggleSection(this, $(this).parent().next(".new-todo-form"), "Add a todo", "Cancel");
      });
    });

  = render @project.lists.left

= content_for :sidebar do
  TEST
