%li.todo
  =link_to todo.task, project_path(todo.project, :hl => todo.id)
  \-
  - if todo.overdue?
    due
    %b
      = distance_of_time_in_words(todo.due_date, Date.today)
      ago
  from project
  = todo.project.name
